/* Typography */
h1 {
  font-size: 54px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.3em;
}

p {
  line-height: 1.3em;
}
