$primary: #4756df;
$secondary: #f00;
$black: #0c0c0c;
$black-2: #141414;
$black-3: #464646;
$black-4: #727272;
$white: #fff;
$gray: #b5b2b2;

$font-primary: "Manrope", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-tertiary: "Philosopher", sans-serif;

// :root[data-theme="light"] {
//   --primary: #0b0b0e;
// }
// :root[data-theme="dark"] {
//   --primary: #fff;
// }
// $primary: var(--primary);
// $primary-rgb: var(--primary--rgb);
