.hero {
  height: calc(100vh - 128px);
  height: calc(100dvh - 128px);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .autoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
  }
  &--sm {
    padding-top: 10px;
    height: auto;
    min-height: 255px;
    .hero {
      &__image {
        height: 255px;
        min-height: 255px;
        position: relative;
        &-title {
          display: block;
          font-size: 54px;
          text-shadow: 0px 0px 5px #f00;
          font-family: $font-tertiary;
          font-weight: 400;
          position: absolute;
          left: 90px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
.about {
  padding: 114px 0 50px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  &__image {
    width: calc(50% - 20px);
    max-width: 512px;
    .ratioImage {
      border-radius: 50% 50% 50% 0;
      overflow: hidden;
      padding-bottom: 100%;
    }
  }
  &__content {
    width: calc(50% - 20px);
    max-width: 512px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-weight: 600;
      color: $gray;
    }
  }
}
.team {
  padding: 50px 0 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    max-width: 995px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    .ico {
      width: 30px;
      height: 30p;
    }
    h3 {
      color: $gray;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1420px;
    height: 120%;
    pointer-events: none;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__grid {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 22px;
    position: relative;
    padding: 0 137px 0 67px;
    &-wrapper {
      overflow: hidden;
      width: 100%;
      max-width: 1506px;
      margin: 0 auto;
    }
    &-column {
      display: flex;
      flex-direction: column;
      gap: 18px;
      &:nth-child(1) {
        width: 189px;
        height: 60%;
        position: absolute;
        right: calc(100% - 45px);
        .ratioImage {
          padding-bottom: 175%;
        }
      }
      &:nth-child(2) {
        padding-top: 80px;
        width: 400px;
        .ratioImage {
          padding-bottom: 78%;
          &--sm {
            padding-bottom: 44%;
          }
        }
      }
      &:nth-child(3) {
        padding-top: 100px;
        width: 190px;
        .ratioImage {
          padding-bottom: 175%;
        }
      }
      &:nth-child(4) {
        width: 325px;
        padding-top: 150px;
        .ratioImage {
          padding-bottom: 78%;
          &--sm {
            padding-bottom: 44%;
          }
        }
      }
      &:nth-child(5) {
        padding-top: 110px;
        width: 325px;
        .ratioImage {
          padding-bottom: 105%;
        }
      }
      &:nth-child(6) {
        padding-top: 40px;
        width: 325px;
        height: 100%;
        position: absolute;
        left: calc(100% - 115px);
        .ratioImage {
          padding-bottom: 103%;
          &--sm {
            padding-bottom: 48%;
          }
        }
      }
    }
    &-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid $black-3;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@mixin index-1280 {
  .team {
    &__grid {
      &-column {
        &:nth-child(2) {
          padding-top: 50px;
        }
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          padding-top: 100px;
        }
        &:nth-child(5) {
          padding-top: 70px;
          .ratioImage {
            padding-bottom: 110%;
          }
        }
        &:nth-child(6) {
          padding-top: 0;
        }
      }
    }
  }
}
@mixin index-1160 {
  .hero {
    &__image {
      border-radius: 30px;
    }
    &--sm {
      .hero {
        &__image {
          &-title {
            font-size: 48px;
            left: 80px;
          }
        }
      }
    }
  }
  .about {
    padding-top: 100px;
  }
}
@mixin index-860 {
  .about {
    padding-top: 85px;
    &__inner {
      flex-direction: column;
      gap: 50px;
    }
    &__image {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      order: 1;
    }
    &__content {
      width: 100%;
      max-width: unset;
    }
  }
  .team {
    &__grid {
      &-column {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          padding-top: 100px;
        }
        &:nth-child(5) {
          padding-top: 70px;
          .ratioImage {
            padding-bottom: 110%;
          }
        }
        &:nth-child(6) {
          padding-top: 0;
        }
      }
    }
  }
  .hero {
    &--sm {
      .hero {
        &__image {
          &-title {
            left: 50px;
            font-size: 44px;
          }
        }
      }
    }
  }
}
@mixin index-768 {
  .about {
    padding-top: 75px;
  }
  .hero {
    &__image {
      border-radius: 20px;
    }
    &--sm {
      padding-top: 20px;
      .hero {
        &__image {
          &-title {
            left: 30px;
            font-size: 38px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .team {
    padding: 15px 0 100px;
    &__grid {
      padding: 0 42px;
      gap: 20px;
      &-column {
        &:nth-child(1) {
          right: calc(100% - 26px);
        }
        &:nth-child(4) {
          padding-top: 50px;
        }
        &:nth-child(6) {
          left: calc(100% - 26px);
        }
      }
    }
    &__bg {
      z-index: -1;
    }
  }
}
@mixin index-460 {
  .hero {
    &--sm {
      padding-top: 40px;
      .hero {
        &__image {
          &-title {
            left: 20px;
          }
        }
      }
    }
  }
  .team {
    &__grid {
      &-column {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(4) {
          position: absolute;
          padding: unset;
          right: calc(100% - 26px);
          top: 0;
        }
        &:nth-child(5) {
          width: 100%;
          padding-top: 40px;
          .ratioImage {
            padding-bottom: 103%;
          }
        }
        &:nth-child(6) {
          height: 90%;
          .team__grid-image {
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
}
